<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: white;
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="video-container">
        <video autoplay loop muted>
            <source src="../assets/nhllogo.mp4" type="video/mp4">
        </video>
    </div>
    
    <div class="section-title">
       
    </div>

  
    <style>
        .schedule_games {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

<div id="schedule_games"></div>
   



<!-- <script>
    fillTables();
</script> -->
<script src="../chart.js"></script>
<script src="../main.js"></script>
</body>
</html>
